.footer {
  display: flex;
 width: 100%;
 margin:10px;
 justify-content: space-between;
  @media all and(min-width:768px){
    justify-content: space-between;
    padding-top: 2rem;
  }

  * {
    font-size: 0.75rem;
  }

  &__menu-item {
    list-style: none;
    display: flex;
    @media all and(min-width:768px){
      display: inline-block;
    }
  }

  &__menu-link {
    padding:10px;
    @media all and(min-width:768px){
      padding-right: 2rem;
    }

    &.active {
      text-decoration: none;
    }
  }
}
